/*
	This is a testfile
*/

$v1: #333;

$v2: 333;

$v3 : rgba(244,255,255)

$v4 : 24px;

$v5 = 123;

.c1 {
	background-color: white;
}

.c2 {
	background-color: black;
}

$rgba: rgba(1,1,1,0.4);

$rgb: rgb(2,2,2);